@use"../function/_mixin.scss" as *;

.tabBody{
 margin-top: px-to-rem(30px);
}

.tabWrap{
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin: 0 auto;
}

.tabBtn { 
  font-size: px-clamp(16,18,375,2000);
  font-weight: bold;
  line-height: 1.15;
  color: var(--base-color);
  position: relative;
  padding-bottom: px-to-rem(10px); // 余白調整
  width: 50%;
  &.is-active {
    border-bottom: px-to-rem(3px) solid var(--base-color);
  }
}


